.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#myDiv{
  background-color: blue;
  width: 200px;
  height: 200px;
  justify-content: space-evenly;
  display: flex;
  position: absolute;
}
#myDiv>button{
  width: 50px;
  height: 50px;
  
  /* background-color: green;
 */}
.tritem{
  text-decoration: line-through;
}
.item{
  text-decoration: none;
}
.selected{
  background-color: rgb(150, 127, 255);
}
/* .slider {
  position: relative;
  width: 80%;
  height: 500px;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.slider-img {
  position: absolute;
  width: 100%;
  height: 500px;
  transition: all 0.2s;
}

.slider-img-prev {
  transform: translateX(-100%);
}

.slider-img-next {
  transform: translateX(100%);
} */