/* .container-shop{
    display: grid;
    grid-column: auto auto auto;
} */
/* .product-list{
    display: flex;
    flex-wrap: wrap;
} */
/* .opinion-product{
    
} */
body {
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: center;
    background-color: rgb(234, 207, 234);
   
}
html{
     box-shadow: inset 0px -1px 121px 111px rgba(81, 10, 202, 0.2);
     padding: 30px;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 180px;
    position: relative;
    

}

li {
    z-index: 2;
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    box-shadow: 9px -1px 21px 11px rgba(84, 45, 116, 0.2);
    align-items: center;
    vertical-align: middle;
    border-radius: 25px;
    padding-bottom: 30px;
    width: 1050px;
    height: 1200px;
    gap:18px;
    position:relative;
    background-color: rgb(207, 168, 241);
}

img {
    margin-top: 10px;
    width: 800px;
    height: 700px;
    box-shadow: 0px -1px 21px 11px rgba(81, 10, 202, 0.2);
    border-radius: 15px;
    position: relative;
    top:100px
}

h1 {
    font-size: 45px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 15px;
    position: absolute;
}

p {
    font-size: 65px;
    margin: 0;
    top:130px;
    position: relative;
}

p:last-child {
    width: 800px;
    background-color: rgb(208, 190, 234);
    padding: 26px;
    border-radius: 15px;
    margin-top: 0;
    margin-bottom: 0;
    top: 145px;
    font-size: 40px;
    box-shadow: 9px -1px 21px 11px rgba(84, 45, 116, 0.2);
}
li:hover{

   cursor: pointer;
}
.page-footer {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 50px;
}